#inner1 {
  background-color: aqua;
  border: 3px solid salmon;
  color: white;
}
#something {
  text-align: center;
}
.bton {
  height: 30px;
  width: 30px;
  display: inline-block;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#orange {
  background-color: orange;
}
.cen {
  text-align: center;
}
